---
import Layout from '../layouts/BaseLayout.astro';
import SvelteTodo from "../components/SvelteTodo.svelte";
import ReactCounter from "../components/ReactCounter.jsx";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>

  <div class="mt-4">

    </div>
</BaseLayout>
