
---
{/*Front matter is used to store metadata about a page.
It’s written at the top of the page and surrounded by three dashes (---).
Typically written in YAML, front matter can also be written in JSON or TOML, depending on your preference of SSG
 */}
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>

    <div class="mt-4">
        <h1 class="text-2xl font-bold"></h1>
        <h2>This is my Page</h2>
        <script>
            window.onload = function() {
                alert('Esta es mi página');
            };
        </script>
    </div>
</BaseLayout>
