---
---

<div class="nav-links">
  <a href="/">Home</a>
    <a href="/integrations">Integrations</a>
    <a href="/quote">Quotes</a>
    <a href="/blog">Content Collections</a>
    <a href="/pokemon">Pokemon </a>
  <a href="/mypage">My Page</a>
</div>
