---
---

<div class="nav-links">
  <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/dailyquote">Daily Quote</a>
    <a href="/gallery">Gallery</a>
    <a href="/pokemon">Pokemon </a>
</div>
